.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  padding: 40px;
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-exit {
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px rgba(0, 0, 0, 0.062745098) solid;
  border-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-exit:hover {
  fill: #2196f3;
}

.icon-exit {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
}

.modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-item {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
}

.modal-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-item:last-child .modal-input {
  width: 448px;
  padding: 12px 16px 94px 16px;
}

.modal-item:last-child .modal-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-item:last-child .modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
}

.modal-item:focus-within {
  fill: #2196f3;
}

.modal-item:hover .modal-icon, .modal-item:hover .modal-input {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-conditions {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.modal-conditions-info {
  margin-left: 7px;
  margin-right: 4px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.modal-conditions-link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-conditions-checkbox {
  width: 16px;
  height: 15px;
}

.modal-button {
  border-radius: 4px;
  background: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  cursor: pointer;
  border: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backmenu-opened {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #757575;
  width: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition-property: opacity, width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
}

.backmenu-closed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backmenu-closed-title {
  writing-mode: vertical-lr;
  color: #fff;
}

.backmenu-icon {
  fill: var(--link-color);
  width: 20px;
  height: 20px;
}

.backmenu-opened:hover {
  opacity: inherit;
  width: 300px;
}

.backmenu-text {
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0.99, 0.12, 0.28);
}

.backmenu-text:hover {
  color: var(--link-color);
}

.backmenu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.backmenu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=modal.css.map */