.container {
  @include container-box();
}

.info-container {
    display: flex;
    gap: 100px;
  }
  
  .info-item::before {
    height: 120px;
    width: 270px;
    content: '';
    display: block;
    background-color: var($background-color-two);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    animation: rollOut 2s forwards;
  }
  
  .info-item:nth-child(1)::before {
    background-image: url('../photos/antenna.svg');
  }
  
  .info-item:nth-child(2)::before {
    background-image: url('../photos/clock.svg');
  }
  
  .info-item:nth-child(3)::before {
    background-image: url('../photos/diagram.svg');
  }
  
  .info-item:nth-child(4)::before {
    background-image: url('../photos/astronaut.svg');
  }
  
  @keyframes rollOut {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-0%);
    }
  }
  
  .info-list {
    display: flex;
    gap: 30px;
  }
  
  .info {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .info-title {
    color: var($title-color);
    @include title-small ();
    text-transform: uppercase;
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    position: relative;
    animation: rollOut 2s forwards;
  }
  
  .info-text {
    color: var($text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    position: relative;
    animation: rollOut 2s forwards;
  }